<div class="swiper-container" data-swiper="{{ swiperName }}">
    <div class="swiper-wrapper">
      {{ swiperSlides }}
    </div>
  {% if pagination %}
      <div class="swiper-pagination"></div>
  {% endif %}
</div>