<!-- Zoom Animation -->
<div class="zoom-animation">
<div class="background-animation" id="background">
	{{ image }}
</div>
      <div class="site-header__caption">
          <div class="container">
            <div class="row">
              <div class="col">     
                {% block content %}
                  {{ text }} 
                {% endblock %}
              </div>
          </div>
          </div>
        </div>
</div>